
<h2 class="align-center">{{::title = sortField.Category }}</h2>

    <div class="row">

        <div class="col-sm-3 col-md-3" ng-repeat="Idx in filtered = (allBooks | filter: sortField | startFrom:currentPage*pageSize | limitTo:pageSize)" ng-controller="BookController">
            <div class="card-container">
                <div class="card">
                    <div class="thumbnail front">
                        <div style="height:200px; width:100%; background-color:#ff0000; align-content:center; overflow:hidden">
                            <img ng-src="assets/Books_Images/{{Idx.Image}}" width="100%" />
                        </div>
                        <div class="caption">
                            <div class="text-center bg-info" style="font-weight:bold; font-size:15px; margin-bottom:8px">{{Idx.Name | limitTo: 20}}</div>

                            <div class="table-responsive table-striped">
                                <table class="table">
                                    <tr>
                                        <td style="margin:0">AuthorName:</td>
                                        <td style="white-space: nowrap; max-width:115px; overflow:hidden">{{Idx.AuthorName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category:{{itemsx}}</td>
                                        <td style="white-space: nowrap; max-width: 115px; overflow: hidden">{{Idx.Category}}</td>
                                    </tr>
                                    <tr>
                                        <td>Language:</td>
                                        <td>{{Idx.Language}}</td>
                                    </tr>
                                    <tr>
                                        <td>PublicationYear:</td>
                                        <td>{{Idx.PublicationYear}}<input type="hidden" name="bookId" id="bookId" ng-model="id = Idx.id"> <input type="hidden" ng-init="rate = getRate(ipp + '_' + Idx.id)"></td>
                                    </tr>
                                    <!--<tr>
                                    <td>PublisherName:</td>
                                    <td>{{Idx.PublisherName}}</td>
                                </tr>-->
                                    <tr>
                                        <td>Total Ratings:</td>
                                        <td style="font-size: 16px" class="text-warning">
                                            {{Idx.Rating}}
                                            <input type="hidden" ng-model="::Rt = Idx.Rating">
                                        </td>
                                    </tr>
                                </table>
                            </div>


                            <p><!--<a href="#" class="btn btn-danger" role="button">Button</a>--> <!--<a href="#" class="btn btn-default" role="button">Button</a>--></p>

                        </div>
                    </div>

                    <div class="back" ng-style="{'background-image':'url(assets/Books_Images/{{Idx.Image}})'}" style=" background-position: center; background-size: cover; background-repeat: no-repeat">
                        <div style="background-color: rgba(255, 255, 255, 0.89); height:inherit">

                            <div class="header">
                                <h5 class="motto">{{Idx.Name}}</h5>
                            </div>
                            <div class="content">
                                <div class="main">

                                    <p>{{Idx.Details | limitTo: 453}}</p>

                                    <!--<h4 class="text-center">Rate Me</h4>-->
                                </div>
                            </div>


                            
                            <div class="footer">
                                <div class="text-center">
                                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span><br />
                                    <rating ng-model="rate" id="{{Idx.id}}" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" on-leave="    overStar = null"></rating>
                                </div>
                                <div class="social-links text-center">
                                    <!--<a href="http://www.facebook.com/wizston" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://www.plus.google.com/wizston" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://www.twitter.com/wizston" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<nav>
    <ul class="pager">
        <li class="previous"><button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-info">
    Previous
</button></li>
        {{currentPage+1}}/{{numberOfPages()}}
        <li class="next"><button ng-disabled="currentPage >= allBooks.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-info">
    Next
</button></li>
    </ul>
</nav>


<hr class="divider">
